---
/**
 * math_howlearn McqChoices 와 동일한 그리드 레이아웃 (정적 표시용).
 * 답 선택은 하단 ProblemInteraction 에서 처리한다.
 */
---

<div
  class="not-prose my-5 grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3"
>
  <slot />
</div>
